In [1]:
import numpy as np
from datetime import datetime 
import matplotlib.pyplot as plt
import pandas as pd
from scipy import stats
import plotly.express as px
plt.style.use('ggplot')   
%matplotlib inline

In [2]:
pl_pool=pd.read_csv('plr_pool.csv', parse_dates = ['last_visit'])

In [3]:
pl_pool.head()

,id,visits,last_visit,res_sum,res_std,res_mean,hands_sum,hands_std,hands_mean,bets_sum,bets_std,bets_mean
0,256,152,2024-12-20,-19172.280093,221.892205,-126.133422,60225.0,42.057592,396.217105,6.085160e+05,424.951752,4003.395014
1,512,193,2024-12-18,-39430.184067,1534.282221,-204.301472,28531.0,28.551141,147.829016,2.912049e+06,2914.104779,15088.337097
2,258,182,2024-12-31,5889.797056,430.087237,32.361522,17048.0,13.890114,93.670330,6.137283e+05,500.044387,3372.133717
3,515,166,2024-12-20,-26436.545236,261.018879,-159.256297,66403.0,38.128109,400.018072,6.802574e+05,390.598767,4097.936413
4,260,171,2024-12-28,-2165.700363,439.135863,-12.664914,17559.0,15.505318,102.684211,5.939977e+05,524.524350,3473.670622

In [4]:
end_date = datetime.strptime("01-1-2025", "%d-%m-%Y")

In [11]:
pl_pool['r_days'] = (end_date-pl_pool.last_visit).dt.days

In [12]:
pl_pool.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          100 non-null    int64
 1   visits      100 non-null    int64
 2   last_visit  100 non-null    datetime64[ns]
 3   res_sum     100 non-null    float64
 4   res_std     100 non-null    float64
 5   res_mean    100 non-null    float64
 6   hands_sum   100 non-null    float64
 7   hands_std   100 non-null    float64
 8   hands_mean  100 non-null    float64
 9   bets_sum    100 non-null    float64
 10  bets_std    100 non-null    float64
 11  bets_mean   100 non-null    float64
 12  r_days      100 non-null    int64
dtypes: datetime64[ns](1), float64(9), int64(3)
memory usage: 10.3 KB

In [13]:
pl_pool.describe()

,id,visits,last_visit,res_sum,res_std,res_mean,hands_sum,hands_std,hands_mean,bets_sum,bets_std,bets_mean,r_days
count,100.00000,100.00000,100,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,1.000000e+02,100.000000,100.000000,100.000000
mean,591.55000,184.30000,2024-12-26 06:28:48,-9196.810799,333.434484,-50.031784,33557.940000,22.404644,182.195137,6.511340e+05,540.179792,3536.319330,5.730000
min,100.00000,152.00000,2024-12-06 00:00:00,-39430.184067,88.373238,-234.288377,3473.000000,2.062882,18.572193,1.049529e+05,105.448232,635.921733,0.000000
25%,380.75000,176.75000,2024-12-24 18:00:00,-19030.674543,99.711163,-101.275988,13093.250000,12.038133,70.133221,1.345757e+05,121.927087,713.057147,2.000000
50%,594.50000,185.00000,2024-12-28 00:00:00,-4692.046025,224.938374,-25.207355,18282.500000,14.657056,98.940205,6.352002e+05,382.174051,3447.323738,4.000000
75%,836.75000,193.00000,2024-12-30 00:00:00,-2260.097043,430.779106,-12.220028,70031.000000,37.703768,392.669929,7.353466e+05,493.542959,3997.268397,7.250000
max,993.00000,217.00000,2025-01-01 00:00:00,41562.753317,1534.282221,222.260713,84523.000000,44.510055,417.783505,3.095218e+06,3512.984808,16640.956594,26.000000
std,269.33421,11.42167,NaN,12250.833907,379.203473,66.493601,27217.191792,12.649047,147.227714,7.208743e+05,791.004023,3918.711740,5.511888